h1 {
  align-self: center;
  font-size: 2.5em;
  color: rgb(34, 49, 63);
}

h2 {
  padding: 0;
  margin: 0;
  margin: 40px 0 10px 0;
  font-size: 1.8em;
  color: rgb(34, 49, 63);
}

.page-container {
  display: flex;
  flex-direction: column;
}

.starters-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin-top: 40px; */
}

.starters-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.substitutes-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.substitutes-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-name-header {
  display: flex;
  justify-content: center;
  height: 100px;
  background: rgb(92, 151, 191);
}
